<div *ngIf="isLoged">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    class="banner"
    *ngIf="isLoged != '0'"
  >
    <div>
      <h1><mat-icon>person</mat-icon> {{ this.userDate.email }}</h1>
      Profile Status<br />
      <div *ngIf="userDate.status == 1">Active</div>
    </div>

    <div class="sales" fxFlex="80%">
      <h1>User purches history</h1>
      <div>
        <dl>
          <div salesWhiItems *ngFor="let sale of userSales">
            <dt>Number: {{ sale.number }} Amount: {{ sale.amount }}</dt>
            <div *ngFor="let item of sale.utems">
              <dd>{{ item.id }},{{ item.name }},{{ item.price }}</dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!isLoged">
  <app-log-in></app-log-in>
</div>
