<div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    class="banner"
  >
    <div class="banner_title">Ape Beats</div>
  </div>

  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div class="buttons" fxFlex="26%">
      <button mat-flat-button color="primary" class="button">
        Instruments
      </button>
      <button mat-flat-button color="primary" class="button">Records</button>
      <button mat-flat-button color="primary" class="button">Artists</button>
    </div>
  </div>
</div>
