<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  class="banner"
>
  <div class="banner_title">Ape Beats</div>
</div>
<div fxLayoutAlign="end start">
  <button mat-icon-button (click)="goProfle()">
    <mat-icon>person</mat-icon>
  </button>
  <div *ngIf="isLoged">
    <button mat-icon-button (click)="goCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="First"
    ><div fxLayoutAlign="center ">
      <img class="card-img" src="assets\\Metallica-banner-live.jpg" />
    </div>
  </mat-tab>
  <mat-tab label="Second"
    ><div fxLayoutAlign="center ">
      <img class="card-img" src="assets\\queen-banner.jpg" /></div
  ></mat-tab>
  <mat-tab label="Third"
    ><div fxLayoutAlign="center ">
      <img class="card-img" src="assets\\Nirvana-banner.jpg" /></div
  ></mat-tab>
</mat-tab-group>

<div>
  <div
    class="buttons"
    fxFlex="100%"
    fxFlex.xs="40%"
    fxFlex.sm="33%"
    fxLayoutAlign="center"
  >
    <button
      mat-flat-button
      color="primary"
      class="button"
      (click)="goInstruments()"
    >
      Instruments
    </button>
    <button mat-flat-button color="primary" class="button" (click)="goRecord()">
      Records
    </button>
    <button mat-flat-button color="primary" class="button" (click)="goArtist()">
      Artists
    </button>
  </div>
</div>
<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap.xs="0"
  class="all-instrument-holder"
>
  <div fxFlex="100%" fxLayoutAlign="center " class="banner-instruments">
    <h1 class="padder">Instruments</h1>
  </div>
  <div fxFlex="80%">
    <app-item [projectList]="this.instruments"> </app-item>
  </div>

  <mat-card class="card-img-mostsold card-padding-top red-title">
    <mat-card-header class="text-oneline" *ngIf="this.mostSoldItem.name">
      <mat-card-title
        >Most sold Item:{{ this.mostSoldItem.name }}</mat-card-title
      >
    </mat-card-header>
    Untis sold:{{ this.mostSoldItem.count }}
    <img mat-card-image src="assets\\{{ this.mostSoldItem.discrimination }}" />
  </mat-card>

  <div fxFlex="100%" fxLayoutAlign="center" class="banner-record">
    <h1 class="padder">Records</h1>
  </div>

  <div fxFlex="100%" fxLayoutAlign="center">
    <app-item [projectList]="this.records"></app-item>
  </div>
</div>
