<div
  class="card-holder"
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex="12%"
    fxFlex.xs="40%"
    fxFlex.sm="33%"
    class="da"
    *ngFor="let card of projectList"
  >
    <mat-card>
      <mat-card-header class="text-oneline" *ngIf="card.name">
        <mat-card-title>{{ card.name }}</mat-card-title>
      </mat-card-header>
      <img
        class="card-img"
        mat-card-image
        src="assets\\{{ card.discrimination }}"
      />
      <div *ngIf="card.type">Type:{{ card.type }}</div>
      <div *ngIf="card.price">Price: {{ card.price }}$</div>
      <div *ngIf="card.genre">Genre: {{ card.genre }}</div>
      <div *ngIf="card.artistName">Artidt: {{ card.artistName }}</div>
      <div *ngIf="isLoged">
        <button
          *ngIf="!card.cart"
          mat-icon-button
          (click)="addItemToShpoinCart(card.id)"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button *ngIf="card.cart" mat-icon-button>
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
